PlantFactoryServer/plantfactorynodered/.flows.json.backup
[{"id":"9e500933.4f3d08","type":"tab","label":"TestChamberUI","disabled":false,"info":""},{"id":"a67d9b0a.a46238","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3184091b.a33a26","type":"subflow","name":"Mode enable","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"b370f69d.06d9a8"}]}],"out":[{"x":500,"y":100,"wires":[{"id":"82bdd65c.16c698","port":0},{"id":"bb15c62.962f138","port":0}]}],"env":[{"name":"valami","type":"str","value":""}],"color":"#DDAA99"},{"id":"6599ec7a.af9974","type":"mqtt-broker","name":"mosquitto/PlantFactory","broker":"mqtt-broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f48ee835.ca78d8","type":"ui_tab","name":"Test Chamber","icon":"","order":7,"disabled":false,"hidden":false},{"id":"2b48e66d.d544da","type":"ui_group","name":"Block","tab":"f48ee835.ca78d8","order":6,"disp":true,"width":"6","collapse":false},{"id":"92cb97cd.01d618","type":"ui_group","name":"Communication Modul","tab":"f48ee835.ca78d8","order":1,"disp":true,"width":6,"collapse":false},{"id":"b141f20e.9a634","type":"ui_group","name":"Power Modul","tab":"f48ee835.ca78d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"e9544f8e.5a439","type":"ui_group","name":"Air Modul","tab":"f48ee835.ca78d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"2e6de7d.57f4218","type":"ui_group","name":"Fan Modul","tab":"f48ee835.ca78d8","order":5,"disp":true,"width":"6","collapse":false},{"id":"5d64c4d4.199cec","type":"ui_group","name":"Water Modul","tab":"f48ee835.ca78d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"64cd1cb7.280ea4","type":"ui_group","name":"Light Modul","tab":"f48ee835.ca78d8","order":7,"disp":true,"width":"6","collapse":false},{"id":"9f03e8c4.c777e8","type":"ui_group","name":"Pump Modul","tab":"f48ee835.ca78d8","order":8,"disp":true,"width":"6","collapse":false},{"id":"2a2bcba2.183164","type":"ui_group","name":"Dozer Modul","tab":"f48ee835.ca78d8","order":9,"disp":true,"width":"6","collapse":false},{"id":"82bdd65c.16c698","type":"change","z":"3184091b.a33a26","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[[]]},{"id":"b370f69d.06d9a8","type":"switch","z":"3184091b.a33a26","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":100,"wires":[["82bdd65c.16c698"],["bb15c62.962f138"]]},{"id":"bb15c62.962f138","type":"change","z":"3184091b.a33a26","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":120,"wires":[[]]},{"id":"b1645c96.5184c8","type":"comment","z":"9e500933.4f3d08","name":"TODO","info":"-Legördülö menü az iphez\n-Adatok a mongoból","x":70,"y":40,"wires":[]},{"id":"7632a3dc.97b534","type":"ui_text","z":"9e500933.4f3d08","group":"2b48e66d.d544da","order":1,"width":0,"height":0,"name":"","label":"Block Name:","format":"Test box","layout":"row-spread","x":270,"y":600,"wires":[]},{"id":"51331f55.52f338","type":"ui_text","z":"9e500933.4f3d08","group":"2b48e66d.d544da","order":6,"width":0,"height":0,"name":"","label":"Block Status:","format":"Waiting","layout":"row-spread","x":270,"y":640,"wires":[]},{"id":"cf4c242b.7b44b8","type":"ui_dropdown","z":"9e500933.4f3d08","name":"","label":"Plant:","tooltip":"","place":"Select option","group":"2b48e66d.d544da","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Lettuce","value":"Lettuce","type":"str"},{"label":"Tomato","value":"Tomato","type":"str"}],"payload":"","topic":"","x":250,"y":680,"wires":[[]]},{"id":"b4c7b8e3.91cd4","type":"comment","z":"9e500933.4f3d08","name":"Communication Modul","info":"","x":260,"y":120,"wires":[]},{"id":"b1c02312.5259f8","type":"comment","z":"9e500933.4f3d08","name":"Block","info":"","x":250,"y":560,"wires":[]},{"id":"6b83a4d1.82add4","type":"comment","z":"9e500933.4f3d08","name":"Water Modul","info":"","x":270,"y":1500,"wires":[]},{"id":"e7c5657.dfb8b18","type":"ui_text","z":"9e500933.4f3d08","group":"92cb97cd.01d618","order":2,"width":0,"height":0,"name":"","label":"ESP Status:","format":"{{msg.payload}}","layout":"row-spread","x":230,"y":200,"wires":[]},{"id":"1a7571d8.dc7c8e","type":"comment","z":"9e500933.4f3d08","name":"Power Modul","info":"","x":1510,"y":100,"wires":[]},{"id":"b6768f08.651b08","type":"ui_switch","z":"9e500933.4f3d08","name":"","label":"Available","tooltip":"","group":"b141f20e.9a634","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1500,"y":140,"wires":[["a97cee.bbf2131"]]},{"id":"9036525e.a230e","type":"ui_dropdown","z":"9e500933.4f3d08","name":"","label":"Mode","tooltip":"","place":"Select option","group":"b141f20e.9a634","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Manual","value":"Manual","type":"str"},{"label":"Auto","value":"Auto","type":"str"}],"payload":"","topic":"","x":1490,"y":200,"wires":[["ddedb981.28e658","7b4e8d78.a5b8dc"]]},{"id":"7700638a.c84e8c","type":"ui_slider","z":"9e500933.4f3d08","name":"","label":"Water Temperature","tooltip":"","group":"b141f20e.9a634","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Water_Temperature","min":0,"max":"30","step":"0.1","x":1710,"y":280,"wires":[["6d4b6228.6d44f4"]]},{"id":"951f63f9.67b308","type":"ui_slider","z":"9e500933.4f3d08","name":"","label":"Air Temperature","tooltip":"","group":"b141f20e.9a634","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Air_Temperature","min":0,"max":"30","step":"0.1","x":1700,"y":320,"wires":[["6d4b6228.6d44f4"]]},{"id":"64bce8ec.bdf03","type":"subflow:3184091b.a33a26","z":"9e500933.4f3d08","x":1510,"y":300,"wires":[["7700638a.c84e8c","951f63f9.67b308"]]},{"id":"ddedb981.28e658","type":"link out","z":"9e500933.4f3d08","name":"","links":["f0318886.1196b"],"x":1595,"y":180,"wires":[]},{"id":"f0318886.1196b","type":"link in","z":"9e500933.4f3d08","name":"","links":["ddedb981.28e658"],"x":1395,"y":300,"wires":[["64bce8ec.bdf03"]]},{"id":"5398ac78.d1c05c","type":"comment","z":"9e500933.4f3d08","name":"Air Modul","info":"","x":260,"y":1020,"wires":[]},{"id":"2279344f.3c3a1c","type":"ui_switch","z":"9e500933.4f3d08","name":"","label":"Available","tooltip":"","group":"e9544f8e.5a439","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":1060,"wires":[["d65d0c80.8f1ac8"]]},{"id":"91dc272.5b10f58","type":"ui_text","z":"9e500933.4f3d08","group":"e9544f8e.5a439","order":2,"width":0,"height":0,"name":"","label":"Air Temperature:","format":"{{msg.payload.Air_Temperature}}°C","layout":"row-spread","x":280,"y":1120,"wires":[]},{"id":"7d971cc9.850314","type":"ui_text","z":"9e500933.4f3d08","group":"e9544f8e.5a439","order":4,"width":0,"height":0,"name":"","label":"Light IR:","format":"{{msg.payload.Light_IR}} cd","layout":"row-spread","x":260,"y":1200,"wires":[]},{"id":"39f31906.5b5726","type":"ui_text","z":"9e500933.4f3d08","group":"e9544f8e.5a439","order":7,"width":0,"height":0,"name":"","label":"Humidity:","format":"{{msg.payload.Humidity}}%","layout":"row-spread","x":260,"y":1320,"wires":[]},{"id":"609ebbf6.d3df24","type":"ui_text","z":"9e500933.4f3d08","group":"e9544f8e.5a439","order":5,"width":0,"height":0,"name":"","label":"Light Normal:","format":"{{msg.payload.Light}} cd","layout":"row-spread","x":270,"y":1240,"wires":[]},{"id":"a2efab31.dbb77","type":"ui_text","z":"9e500933.4f3d08","group":"e9544f8e.5a439","order":6,"width":0,"height":0,"name":"","label":"Light UV:","format":"{{msg.payload.Light_UV}} cd","layout":"row-spread","x":260,"y":1280,"wires":[]},{"id":"43f0a0b8.4c8df","type":"ui_text","z":"9e500933.4f3d08","group":"e9544f8e.5a439","order":3,"width":0,"height":0,"name":"","label":"CO2","format":"{{msg.payload.CO2}} mol","layout":"row-spread","x":250,"y":1160,"wires":[]},{"id":"8991943b.184a8","type":"comment","z":"9e500933.4f3d08","name":"Fan Modul","info":"","x":1500,"y":460,"wires":[]},{"id":"e2b1fe84.4bc14","type":"ui_switch","z":"9e500933.4f3d08","name":"","label":"Available","tooltip":"","group":"2e6de7d.57f4218","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1500,"y":500,"wires":[["43f35535.d58724"]]},{"id":"82cb5706.68208","type":"ui_dropdown","z":"9e500933.4f3d08","name":"","label":"Mode","tooltip":"","place":"Select option","group":"2e6de7d.57f4218","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Manual","value":"Manual","type":"str"},{"label":"Auto","value":"Auto","type":"str"}],"payload":"","topic":"","x":1490,"y":560,"wires":[["369e5dc4.d7e02a","6480548b.1c3d1c"]]},{"id":"5fb81ba6.35ef44","type":"ui_slider","z":"9e500933.4f3d08","name":"","label":"Fan","tooltip":"","group":"2e6de7d.57f4218","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Fan","min":0,"max":"100","step":"1","x":1670,"y":640,"wires":[["185bd22.f165c2e"]]},{"id":"5a178f13.582f7","type":"subflow:3184091b.a33a26","z":"9e500933.4f3d08","name":"","env":[],"x":1510,"y":640,"wires":[["5fb81ba6.35ef44"]]},{"id":"369e5dc4.d7e02a","type":"link out","z":"9e500933.4f3d08","name":"","links":["5444a20f.85678c"],"x":1595,"y":540,"wires":[]},{"id":"5444a20f.85678c","type":"link in","z":"9e500933.4f3d08","name":"","links":["369e5dc4.d7e02a"],"x":1395,"y":640,"wires":[["5a178f13.582f7"]]},{"id":"66528c.4d24f574","type":"ui_switch","z":"9e500933.4f3d08","name":"","label":"Available","tooltip":"","group":"5d64c4d4.199cec","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":1540,"wires":[["321911d5.ebffce"]]},{"id":"a47b3175.58dce","type":"ui_text","z":"9e500933.4f3d08","group":"5d64c4d4.199cec","order":2,"width":0,"height":0,"name":"","label":"Water Temperature:","format":"{{msg.payload.Water_Temperature}}°C","layout":"row-spread","x":290,"y":1600,"wires":[]},{"id":"cd30b96e.6e4308","type":"ui_text","z":"9e500933.4f3d08","group":"5d64c4d4.199cec","order":3,"width":0,"height":0,"name":"","label":"PH:","format":"{{msg.payload.PH}}","layout":"row-spread","x":250,"y":1640,"wires":[]},{"id":"6645bdb5.86533c","type":"ui_text","z":"9e500933.4f3d08","group":"5d64c4d4.199cec","order":4,"width":0,"height":0,"name":"","label":"Water Level:","format":"{{msg.payload.Water_Level}} mm","layout":"row-spread","x":270,"y":1680,"wires":[]},{"id":"d153481b.b4aea8","type":"ui_text","z":"9e500933.4f3d08","group":"5d64c4d4.199cec","order":5,"width":0,"height":0,"name":"","label":"EC:","format":"{{msg.payload.EC}}","layout":"row-spread","x":250,"y":1720,"wires":[]},{"id":"30977084.9962b8","type":"comment","z":"9e500933.4f3d08","name":"Light Modul","info":"","x":1510,"y":740,"wires":[]},{"id":"b16bff2c.698a9","type":"ui_switch","z":"9e500933.4f3d08","name":"","label":"Available","tooltip":"","group":"64cd1cb7.280ea4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1500,"y":780,"wires":[["205d0aec.c3ffbe"]]},{"id":"1ec12536.262d63","type":"ui_dropdown","z":"9e500933.4f3d08","name":"","label":"Mode","tooltip":"","place":"Select option","group":"64cd1cb7.280ea4","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Manual","value":"Manual","type":"str"},{"label":"Auto","value":"Auto","type":"str"}],"payload":"","topic":"","x":1490,"y":840,"wires":[["bd965c55.b9bb28","ffec059e.e98a"]]},{"id":"85b24838.9a3df8","type":"ui_slider","z":"9e500933.4f3d08","name":"","label":"IR","tooltip":"","group":"64cd1cb7.280ea4","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Light_IR","min":0,"max":"100","step":"1","x":1670,"y":920,"wires":[["6c414bf0.86540c"]]},{"id":"d53e72f3.b0f718","type":"subflow:3184091b.a33a26","z":"9e500933.4f3d08","x":1510,"y":960,"wires":[["85b24838.9a3df8","fd2eedaa.4ab77","97d68fce.088478"]]},{"id":"bd965c55.b9bb28","type":"link out","z":"9e500933.4f3d08","name":"","links":["61b49e1a.d1e1e8"],"x":1595,"y":820,"wires":[]},{"id":"61b49e1a.d1e1e8","type":"link in","z":"9e500933.4f3d08","name":"","links":["bd965c55.b9bb28"],"x":1395,"y":960,"wires":[["d53e72f3.b0f718"]]},{"id":"fd2eedaa.4ab77","type":"ui_slider","z":"9e500933.4f3d08","name":"","label":"Normal","tooltip":"","group":"64cd1cb7.280ea4","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Light","min":0,"max":"100","step":"1","x":1680,"y":960,"wires":[["6c414bf0.86540c"]]},{"id":"97d68fce.088478","type":"ui_slider","z":"9e500933.4f3d08","name":"","label":"UV","tooltip":"","group":"64cd1cb7.280ea4","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Light_UV","min":0,"max":"100","step":"1","x":1670,"y":1000,"wires":[["6c414bf0.86540c"]]},{"id":"a789922e.5ac51","type":"ui_text","z":"9e500933.4f3d08","group":"92cb97cd.01d618","order":1,"width":0,"height":0,"name":"","label":"ESP MAC:","format":"24:0A:C4:08:B3:C4","layout":"row-spread","x":230,"y":160,"wires":[]},{"id":"ecd04c0e.83dbf8","type":"inject","z":"9e500933.4f3d08","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":40,"wires":[["5921012e.41e95"]]},{"id":"5921012e.41e95","type":"change","z":"9e500933.4f3d08","name":"","rules":[{"t":"set","p":"TestChamberMAC","pt":"global","to":"24:0A:C4:08:B3:C4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":40,"wires":[[]]},{"id":"6a190a49.c1eacc","type":"comment","z":"9e500933.4f3d08","name":"Pump Modul","info":"","x":1510,"y":1120,"wires":[]},{"id":"1c00052b.b4c6fb","type":"ui_switch","z":"9e500933.4f3d08","name":"","label":"Available","tooltip":"","group":"9f03e8c4.c777e8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1500,"y":1160,"wires":[["5e352ecf.28be38"]]},{"id":"d6647504.69f9d","type":"ui_dropdown","z":"9e500933.4f3d08","name":"","label":"Mode","tooltip":"","place":"Select option","group":"9f03e8c4.c777e8","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Manual","value":"Manual","type":"str"},{"label":"Auto","value":"Auto","type":"str"}],"payload":"","topic":"","x":1490,"y":1220,"wires":[["d5ce30f3.c28d08","ad5d2d3a.05552"]]},{"id":"d5ce30f3.c28d08","type":"link out","z":"9e500933.4f3d08","name":"","links":["c2c59ca3.20fb8"],"x":1595,"y":1200,"wires":[]},{"id":"10bd4436.07ea3c","type":"subflow:3184091b.a33a26","z":"9e500933.4f3d08","x":1510,"y":1300,"wires":[["8b0ade70.e56f"]]},{"id":"c2c59ca3.20fb8","type":"link in","z":"9e500933.4f3d08","name":"","links":["d5ce30f3.c28d08"],"x":1395,"y":1300,"wires":[["10bd4436.07ea3c"]]},{"id":"8b0ade70.e56f","type":"ui_switch","z":"9e500933.4f3d08","name":"","label":"Pump","tooltip":"","group":"9f03e8c4.c777e8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Pump","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1670,"y":1300,"wires":[["ff8093b.674c37"]]},{"id":"55b4655e.d693b4","type":"comment","z":"9e500933.4f3d08","name":"Dozer Modul","info":"","x":1510,"y":1420,"wires":[]},{"id":"a373bf9a.d530a8","type":"ui_switch","z":"9e500933.4f3d08","name":"","label":"Available","tooltip":"","group":"2a2bcba2.183164","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1500,"y":1460,"wires":[["5776a906.4e2c08"]]},{"id":"1e2aeefb.516781","type":"ui_dropdown","z":"9e500933.4f3d08","name":"","label":"Mode","tooltip":"","place":"Select option","group":"2a2bcba2.183164","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Manual","value":"Manual","type":"str"},{"label":"Auto","value":"Auto","type":"str"}],"payload":"","topic":"","x":1490,"y":1520,"wires":[["83ce1e0c.2efbe8","485e1754.ec04b8"]]},{"id":"83ce1e0c.2efbe8","type":"link out","z":"9e500933.4f3d08","name":"","links":["8a3049b7.ea6d5"],"x":1595,"y":1500,"wires":[]},{"id":"f34a4937.bf4ef","type":"subflow:3184091b.a33a26","z":"9e500933.4f3d08","x":1510,"y":1600,"wires":[["fb450b73.053e6"]]},{"id":"8a3049b7.ea6d5","type":"link in","z":"9e500933.4f3d08","name":"","links":["83ce1e0c.2efbe8"],"x":1395,"y":1600,"wires":[["f34a4937.bf4ef"]]},{"id":"fb450b73.053e6","type":"ui_button","z":"9e500933.4f3d08","name":"","group":"2a2bcba2.183164","order":3,"width":0,"height":0,"passthru":false,"label":"Feed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Feed","x":1650,"y":1600,"wires":[["8e57732.ab7a61"]]},{"id":"d7596412.ca15e","type":"comment","z":"9e500933.4f3d08","name":"Feeding","info":"Adott mennyiségű tápanyagot adagol","x":880,"y":1480,"wires":[]},{"id":"9ac12ff9.51247","type":"ui_text","z":"9e500933.4f3d08","group":"2b48e66d.d544da","order":3,"width":0,"height":0,"name":"","label":"Plant Phase:","format":"Seed","layout":"row-spread","x":270,"y":740,"wires":[]},{"id":"cf153f50.d990c","type":"ui_text","z":"9e500933.4f3d08","group":"2b48e66d.d544da","order":4,"width":0,"height":0,"name":"","label":"Phase Start","format":"2020.02.23","layout":"row-spread","x":270,"y":780,"wires":[]},{"id":"218e36ee.c52a4a","type":"ui_text","z":"9e500933.4f3d08","group":"2b48e66d.d544da","order":5,"width":0,"height":0,"name":"","label":"Phase End:","format":"2020.02.25","layout":"row-spread","x":270,"y":820,"wires":[]},{"id":"ea625d6a.273978","type":"ui_button","z":"9e500933.4f3d08","name":"","group":"2b48e66d.d544da","order":7,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"fa-leaf","payload":"","payloadType":"str","topic":"","x":250,"y":880,"wires":[[]]},{"id":"3d1c078c.1f7f68","type":"ui_button","z":"9e500933.4f3d08","name":"","group":"2b48e66d.d544da","order":8,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"darkgreen","icon":"fa-hand-paper-o","payload":"","payloadType":"str","topic":"","x":250,"y":920,"wires":[[]]},{"id":"1d9d5541.401bbb","type":"link in","z":"9e500933.4f3d08","name":"","links":["b28e32f6.96aa6","65a6d7f8.80fc18"],"x":115,"y":1220,"wires":[["91dc272.5b10f58","43f0a0b8.4c8df","7d971cc9.850314","609ebbf6.d3df24","a2efab31.dbb77","39f31906.5b5726"]]},{"id":"99ab3642.b1fc18","type":"link in","z":"9e500933.4f3d08","name":"","links":["5dd1b940.ca1da8","ca455cbf.f622a8"],"x":115,"y":1660,"wires":[["a47b3175.58dce","d153481b.b4aea8","cd30b96e.6e4308","6645bdb5.86533c"]]},{"id":"1953fe04.100632","type":"mqtt in","z":"9e500933.4f3d08","name":"","topic":"PF/Measurement","qos":"2","datatype":"auto","broker":"6599ec7a.af9974","x":120,"y":3700,"wires":[["a2839143.bf8088"]]},{"id":"a2839143.bf8088","type":"json","z":"9e500933.4f3d08","name":"","property":"payload","action":"","pretty":false,"x":280,"y":3700,"wires":[["8aa7b438.b01ea8"]]},{"id":"8aa7b438.b01ea8","type":"switch","z":"9e500933.4f3d08","name":"","property":"payload.ESP_MAC","propertyType":"msg","rules":[{"t":"eq","v":"TestChamberMAC","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":3700,"wires":[["4a5ca60f.2e26b8"]]},{"id":"4a5ca60f.2e26b8","type":"switch","z":"9e500933.4f3d08","name":"","property":"payload.Address","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":3700,"wires":[["bceaac67.bb4348"],["73e3e436.829a24"]]},{"id":"bceaac67.bb4348","type":"change","z":"9e500933.4f3d08","name":"Air_Modul_Values","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Values","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":3680,"wires":[["65a6d7f8.80fc18"]]},{"id":"73e3e436.829a24","type":"change","z":"9e500933.4f3d08","name":"Water_Modul_Values","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Values","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":3720,"wires":[["ca455cbf.f622a8"]]},{"id":"65a6d7f8.80fc18","type":"link out","z":"9e500933.4f3d08","name":"","links":["1d9d5541.401bbb"],"x":855,"y":3680,"wires":[]},{"id":"ca455cbf.f622a8","type":"link out","z":"9e500933.4f3d08","name":"","links":["99ab3642.b1fc18"],"x":855,"y":3720,"wires":[]},{"id":"4d9068e4.7fb93","type":"comment","z":"9e500933.4f3d08","name":"MQTT msgs","info":"","x":110,"y":3640,"wires":[]},{"id":"e318f66a.beecf","type":"inject","z":"9e500933.4f3d08","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":1360,"wires":[["e675172d.bd9ef8"]]},{"id":"e675172d.bd9ef8","type":"change","z":"9e500933.4f3d08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"TestChamberMAC","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1360,"wires":[["14f14ff4.818cd8"]]},{"id":"14f14ff4.818cd8","type":"debug","z":"9e500933.4f3d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":1380,"wires":[]},{"id":"d65d0c80.8f1ac8","type":"function","z":"9e500933.4f3d08","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"1\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1060,"wires":[["c7e07547.c7574"]]},{"id":"c7e07547.c7574","type":"mqtt out","z":"9e500933.4f3d08","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":610,"y":1060,"wires":[]},{"id":"321911d5.ebffce","type":"function","z":"9e500933.4f3d08","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"2\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1540,"wires":[["723af4b.890d60c"]]},{"id":"723af4b.890d60c","type":"mqtt out","z":"9e500933.4f3d08","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":610,"y":1540,"wires":[]},{"id":"a97cee.bbf2131","type":"function","z":"9e500933.4f3d08","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"3\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":140,"wires":[["57ab28e5.e47cc8"]]},{"id":"57ab28e5.e47cc8","type":"mqtt out","z":"9e500933.4f3d08","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1850,"y":140,"wires":[]},{"id":"43f35535.d58724","type":"function","z":"9e500933.4f3d08","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"4\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":500,"wires":[["fa6477a1.7dca4"]]},{"id":"fa6477a1.7dca4","type":"mqtt out","z":"9e500933.4f3d08","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1850,"y":500,"wires":[]},{"id":"205d0aec.c3ffbe","type":"function","z":"9e500933.4f3d08","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"5\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":780,"wires":[["15c2ca05.35806e"]]},{"id":"15c2ca05.35806e","type":"mqtt out","z":"9e500933.4f3d08","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1850,"y":780,"wires":[]},{"id":"5e352ecf.28be38","type":"function","z":"9e500933.4f3d08","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"6\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":1160,"wires":[["4eca2296.433a2c"]]},{"id":"4eca2296.433a2c","type":"mqtt out","z":"9e500933.4f3d08","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1850,"y":1160,"wires":[]},{"id":"5776a906.4e2c08","type":"function","z":"9e500933.4f3d08","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"7\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":1460,"wires":[["3c92e7d2.266d9"]]},{"id":"3c92e7d2.266d9","type":"mqtt out","z":"9e500933.4f3d08","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1850,"y":1460,"wires":[]},{"id":"6080b37e.4592e4","type":"inject","z":"9e500933.4f3d08","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":60,"y":1100,"wires":[[]]},{"id":"7b4e8d78.a5b8dc","type":"function","z":"9e500933.4f3d08","name":"ESPActuatorMode","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"3\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Mode\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Mode\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":220,"wires":[["758933b3.897f0c"]]},{"id":"758933b3.897f0c","type":"mqtt out","z":"9e500933.4f3d08","name":"ActuatorMode","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1860,"y":220,"wires":[]},{"id":"6480548b.1c3d1c","type":"function","z":"9e500933.4f3d08","name":"ESPActuatorMode","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"4\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Mode\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Mode\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":580,"wires":[["1ce170c5.aec67f"]]},{"id":"1ce170c5.aec67f","type":"mqtt out","z":"9e500933.4f3d08","name":"ActuatorMode","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1860,"y":580,"wires":[]},{"id":"ffec059e.e98a","type":"function","z":"9e500933.4f3d08","name":"ESPActuatorMode","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"5\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Mode\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Mode\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":860,"wires":[["7d68c705.c5362"]]},{"id":"7d68c705.c5362","type":"mqtt out","z":"9e500933.4f3d08","name":"ActuatorMode","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1860,"y":860,"wires":[]},{"id":"ad5d2d3a.05552","type":"function","z":"9e500933.4f3d08","name":"ESPActuatorMode","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"6\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Mode\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Mode\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":1240,"wires":[["a975b8e1.1c3ae8"]]},{"id":"a975b8e1.1c3ae8","type":"mqtt out","z":"9e500933.4f3d08","name":"ActuatorMode","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1860,"y":1240,"wires":[]},{"id":"485e1754.ec04b8","type":"function","z":"9e500933.4f3d08","name":"ESPActuatorMode","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"7\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Mode\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Mode\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":1540,"wires":[["bf2cdd7.f1e26a"]]},{"id":"bf2cdd7.f1e26a","type":"mqtt out","z":"9e500933.4f3d08","name":"ActuatorMode","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1860,"y":1540,"wires":[]},{"id":"6d4b6228.6d44f4","type":"function","z":"9e500933.4f3d08","name":"ESPActuatorValue","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"3\";\nmsg.payload[\"Subaddress\"]=\"1\";\n\n/*property={};\nproperty[\"Name\"]=msg.topic;\nproperty[\"Value\"]=value;\nmsg.payload[\"Property\"]=property;*/\n\nobj={}\nobj[msg.topic]=value\n\nmsg.payload[\"Value\"]=obj;\n\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Value\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1950,"y":300,"wires":[["5528b950.f8ae18"]]},{"id":"5528b950.f8ae18","type":"mqtt out","z":"9e500933.4f3d08","name":"ActuatorValue","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":2140,"y":300,"wires":[]},{"id":"185bd22.f165c2e","type":"function","z":"9e500933.4f3d08","name":"ESPActuatorValue","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"4\";\nmsg.payload[\"Subaddress\"]=\"1\";\n\n/*property={};\nproperty[\"Name\"]=msg.topic;\nproperty[\"Value\"]=value;\nmsg.payload[\"Property\"]=property;*/\nobj={}\nobj[msg.topic]=value\n\nmsg.payload[\"Value\"]=obj;\n\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Value\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":640,"wires":[["17291cc.00d61e3"]]},{"id":"17291cc.00d61e3","type":"mqtt out","z":"9e500933.4f3d08","name":"ActuatorValue","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":2020,"y":640,"wires":[]},{"id":"6c414bf0.86540c","type":"function","z":"9e500933.4f3d08","name":"ESPActuatorValue","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"5\";\nmsg.payload[\"Subaddress\"]=\"1\";\n\n/*property={};\nproperty[\"Name\"]=msg.topic;\nproperty[\"Value\"]=value;\nmsg.payload[\"Property\"]=property;*/\nobj={}\nobj[msg.topic]=value\n\nmsg.payload[\"Value\"]=obj;\n\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Value\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":960,"wires":[["848ef018.58d4c"]]},{"id":"848ef018.58d4c","type":"mqtt out","z":"9e500933.4f3d08","name":"ActuatorValue","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":2060,"y":960,"wires":[]},{"id":"ff8093b.674c37","type":"function","z":"9e500933.4f3d08","name":"ESPActuatorValue","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"6\";\nmsg.payload[\"Subaddress\"]=\"1\";\n\n/*property={};\nproperty[\"Name\"]=msg.topic;\nproperty[\"Value\"]=value;\nmsg.payload[\"Property\"]=property;*/\n\nobj={}\nobj[msg.topic]=value\n\nmsg.payload[\"Value\"]=obj;\n\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Value\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":1300,"wires":[["7f1a69aa.b58ac8"]]},{"id":"7f1a69aa.b58ac8","type":"mqtt out","z":"9e500933.4f3d08","name":"ActuatorValue","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":2020,"y":1300,"wires":[]},{"id":"db484b87.3a2a58","type":"mqtt out","z":"9e500933.4f3d08","name":"ActuatorAct","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1990,"y":1600,"wires":[]},{"id":"8e57732.ab7a61","type":"function","z":"9e500933.4f3d08","name":"ESPActuatorValue","func":"msg.payload={};\nmsg.payload[\"Address\"]=\"7\";\nmsg.payload[\"Subaddress\"]=\"1\";\n\n/*property={};\nproperty[\"Name\"]=msg.topic;\nproperty[\"Value\"]=value;\nmsg.payload[\"Property\"]=property;*/\n\nobj={}\nobj[msg.topic]=\"Act\"\n\nmsg.payload[\"Value\"]=obj;\n\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Value\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":1600,"wires":[["db484b87.3a2a58"]]},{"id":"6d1012c1.820084","type":"mqtt out","z":"a67d9b0a.a46238","name":"","topic":"valaki","qos":"","retain":"","broker":"6599ec7a.af9974","x":340,"y":140,"wires":[]},{"id":"1a25c07b.d46538","type":"inject","z":"a67d9b0a.a46238","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":140,"wires":[["6d1012c1.820084"]]}]