PlantFactoryServer/plantfactorynodered/flows.json
[{"id":"2051b7f8.8b11b8","type":"tab","label":"User","disabled":false,"info":""},{"id":"3c43138f.ca8e7c","type":"tab","label":"TestChamberUI","disabled":false,"info":""},{"id":"3184091b.a33a26","type":"subflow","name":"Mode enable","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"b370f69d.06d9a8"}]}],"out":[{"x":500,"y":100,"wires":[{"id":"82bdd65c.16c698","port":0},{"id":"bb15c62.962f138","port":0}]}],"env":[{"name":"valami","type":"str","value":""}],"color":"#DDAA99"},{"id":"c7516b32.dd40e8","type":"mongodb","hostname":"database","connectOptions":"","port":"27017","db":"plantfactory","name":""},{"id":"2b48e66d.d544da","type":"ui_group","name":"Block","tab":"f48ee835.ca78d8","order":6,"disp":true,"width":"6","collapse":false},{"id":"92cb97cd.01d618","type":"ui_group","name":"Communication Modul","tab":"f48ee835.ca78d8","order":1,"disp":true,"width":6,"collapse":false},{"id":"b141f20e.9a634","type":"ui_group","name":"Power Modul","tab":"f48ee835.ca78d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"e9544f8e.5a439","type":"ui_group","name":"Air Modul","tab":"f48ee835.ca78d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"2e6de7d.57f4218","type":"ui_group","name":"Fan Modul","tab":"f48ee835.ca78d8","order":5,"disp":true,"width":"6","collapse":false},{"id":"5d64c4d4.199cec","type":"ui_group","name":"Water Modul","tab":"f48ee835.ca78d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"64cd1cb7.280ea4","type":"ui_group","name":"Light Modul","tab":"f48ee835.ca78d8","order":7,"disp":true,"width":"6","collapse":false},{"id":"9f03e8c4.c777e8","type":"ui_group","name":"Pump Modul","tab":"f48ee835.ca78d8","order":8,"disp":true,"width":"6","collapse":false},{"id":"2a2bcba2.183164","type":"ui_group","name":"Dozer Modul","tab":"f48ee835.ca78d8","order":9,"disp":true,"width":"6","collapse":false},{"id":"6599ec7a.af9974","type":"mqtt-broker","name":"PlantFactory/MQTT-Bróker","broker":"mqtt-broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f48ee835.ca78d8","type":"ui_tab","name":"Test Chamber","icon":"","order":7,"disabled":false,"hidden":false},{"id":"d5656b45.829428","type":"http in","z":"2051b7f8.8b11b8","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":250,"y":140,"wires":[["46a02d43.c0afac"]]},{"id":"2f5ff5c8.0e7c82","type":"http response","z":"2051b7f8.8b11b8","name":"","statusCode":"401","headers":{},"x":1060,"y":120,"wires":[]},{"id":"46a02d43.c0afac","type":"mongodb in","z":"2051b7f8.8b11b8","mongodb":"c7516b32.dd40e8","name":"","collection":"users","operation":"find","x":490,"y":140,"wires":[["41ec1504.180d14"]]},{"id":"82bdd65c.16c698","type":"change","z":"3184091b.a33a26","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[[]]},{"id":"b370f69d.06d9a8","type":"switch","z":"3184091b.a33a26","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":100,"wires":[["82bdd65c.16c698"],["bb15c62.962f138"]]},{"id":"bb15c62.962f138","type":"change","z":"3184091b.a33a26","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":120,"wires":[[]]},{"id":"e88cc9ac.fbad38","type":"comment","z":"3c43138f.ca8e7c","name":"TODO","info":"-Legördülö menü az iphez\n-Adatok a mongoból","x":70,"y":40,"wires":[]},{"id":"571061c3.3c907","type":"ui_text","z":"3c43138f.ca8e7c","group":"2b48e66d.d544da","order":1,"width":0,"height":0,"name":"","label":"Block Name:","format":"Test box","layout":"row-spread","x":270,"y":600,"wires":[]},{"id":"54f9dde5.3387c4","type":"ui_text","z":"3c43138f.ca8e7c","group":"2b48e66d.d544da","order":6,"width":0,"height":0,"name":"","label":"Block Status:","format":"Waiting","layout":"row-spread","x":270,"y":640,"wires":[]},{"id":"29d9ec35.7418c4","type":"ui_dropdown","z":"3c43138f.ca8e7c","name":"","label":"Plant:","tooltip":"","place":"Select option","group":"2b48e66d.d544da","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Lettuce","value":"Lettuce","type":"str"},{"label":"Tomato","value":"Tomato","type":"str"}],"payload":"","topic":"","x":250,"y":680,"wires":[[]]},{"id":"214eff74.1fcf4","type":"comment","z":"3c43138f.ca8e7c","name":"Communication Modul","info":"","x":260,"y":120,"wires":[]},{"id":"e4e90c9.7bea7f","type":"comment","z":"3c43138f.ca8e7c","name":"Block","info":"","x":250,"y":560,"wires":[]},{"id":"37da8f1f.63d5","type":"comment","z":"3c43138f.ca8e7c","name":"Water Modul","info":"","x":270,"y":1500,"wires":[]},{"id":"5999f4ec.44114c","type":"ui_text","z":"3c43138f.ca8e7c","group":"92cb97cd.01d618","order":2,"width":0,"height":0,"name":"","label":"ESP Status:","format":"{{msg.payload}}","layout":"row-spread","x":230,"y":200,"wires":[]},{"id":"ec29170c.d266b8","type":"comment","z":"3c43138f.ca8e7c","name":"Power Modul","info":"","x":1510,"y":100,"wires":[]},{"id":"15f3ea21.e12b06","type":"ui_switch","z":"3c43138f.ca8e7c","name":"","label":"Available","tooltip":"","group":"b141f20e.9a634","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1500,"y":140,"wires":[["c9f40774.f2e238"]]},{"id":"87a31011.29629","type":"ui_dropdown","z":"3c43138f.ca8e7c","name":"","label":"Mode","tooltip":"","place":"Select option","group":"b141f20e.9a634","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Manual","value":"Manual","type":"str"},{"label":"Auto","value":"Auto","type":"str"}],"payload":"","topic":"","x":1490,"y":200,"wires":[["421e914b.c48fb","91ce6a1a.32f618"]]},{"id":"80b1613b.705b2","type":"ui_slider","z":"3c43138f.ca8e7c","name":"","label":"Water Temperature","tooltip":"","group":"b141f20e.9a634","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Water_Temperature","min":0,"max":"30","step":"0.1","x":1710,"y":280,"wires":[["534bf819.a273b8"]]},{"id":"d8f99e8c.9570e","type":"ui_slider","z":"3c43138f.ca8e7c","name":"","label":"Air Temperature","tooltip":"","group":"b141f20e.9a634","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Air_Temperature","min":0,"max":"30","step":"0.1","x":1700,"y":320,"wires":[["534bf819.a273b8"]]},{"id":"c735f769.d43948","type":"subflow:3184091b.a33a26","z":"3c43138f.ca8e7c","x":1510,"y":300,"wires":[["80b1613b.705b2","d8f99e8c.9570e"]]},{"id":"421e914b.c48fb","type":"link out","z":"3c43138f.ca8e7c","name":"","links":["845fb71c.f16888"],"x":1595,"y":180,"wires":[]},{"id":"845fb71c.f16888","type":"link in","z":"3c43138f.ca8e7c","name":"","links":["421e914b.c48fb"],"x":1395,"y":300,"wires":[["c735f769.d43948"]]},{"id":"b447796b.6d0fe8","type":"comment","z":"3c43138f.ca8e7c","name":"Air Modul","info":"","x":260,"y":1020,"wires":[]},{"id":"ce2bb190.aa1a1","type":"ui_switch","z":"3c43138f.ca8e7c","name":"","label":"Available","tooltip":"","group":"e9544f8e.5a439","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":1060,"wires":[["dc5a7399.4ca24"]]},{"id":"3f7b042e.12fa9c","type":"ui_text","z":"3c43138f.ca8e7c","group":"e9544f8e.5a439","order":2,"width":0,"height":0,"name":"","label":"Air Temperature:","format":"{{msg.payload.Air_Temperature}}°C","layout":"row-spread","x":280,"y":1120,"wires":[]},{"id":"29a3a43.3a4745c","type":"ui_text","z":"3c43138f.ca8e7c","group":"e9544f8e.5a439","order":4,"width":0,"height":0,"name":"","label":"Light IR:","format":"{{msg.payload.Light_IR}} cd","layout":"row-spread","x":260,"y":1200,"wires":[]},{"id":"b96c656a.3542b8","type":"ui_text","z":"3c43138f.ca8e7c","group":"e9544f8e.5a439","order":7,"width":0,"height":0,"name":"","label":"Humidity:","format":"{{msg.payload.Humidity}}%","layout":"row-spread","x":260,"y":1320,"wires":[]},{"id":"17e2e915.875fa7","type":"ui_text","z":"3c43138f.ca8e7c","group":"e9544f8e.5a439","order":5,"width":0,"height":0,"name":"","label":"Light Normal:","format":"{{msg.payload.Light}} cd","layout":"row-spread","x":270,"y":1240,"wires":[]},{"id":"b50c0cbe.eb4bd","type":"ui_text","z":"3c43138f.ca8e7c","group":"e9544f8e.5a439","order":6,"width":0,"height":0,"name":"","label":"Light UV:","format":"{{msg.payload.Light_UV}} cd","layout":"row-spread","x":260,"y":1280,"wires":[]},{"id":"f010e77.363b818","type":"ui_text","z":"3c43138f.ca8e7c","group":"e9544f8e.5a439","order":3,"width":0,"height":0,"name":"","label":"CO2","format":"{{msg.payload.CO2}} mol","layout":"row-spread","x":250,"y":1160,"wires":[]},{"id":"ecf4fbaa.94bed8","type":"comment","z":"3c43138f.ca8e7c","name":"Fan Modul","info":"","x":1500,"y":460,"wires":[]},{"id":"52f2a210.35443c","type":"ui_switch","z":"3c43138f.ca8e7c","name":"","label":"Available","tooltip":"","group":"2e6de7d.57f4218","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1500,"y":500,"wires":[["408074d2.a0f9bc"]]},{"id":"6faa75dd.00743c","type":"ui_dropdown","z":"3c43138f.ca8e7c","name":"","label":"Mode","tooltip":"","place":"Select option","group":"2e6de7d.57f4218","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Manual","value":"Manual","type":"str"},{"label":"Auto","value":"Auto","type":"str"}],"payload":"","topic":"","x":1490,"y":560,"wires":[["18a44f9b.da534","2d068ba3.224664"]]},{"id":"222f213e.a8f6ae","type":"ui_slider","z":"3c43138f.ca8e7c","name":"","label":"Fan","tooltip":"","group":"2e6de7d.57f4218","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Fan","min":0,"max":"100","step":"1","x":1670,"y":640,"wires":[["93a17dc2.90561"]]},{"id":"37f61ff0.ac494","type":"subflow:3184091b.a33a26","z":"3c43138f.ca8e7c","name":"","env":[],"x":1510,"y":640,"wires":[["222f213e.a8f6ae"]]},{"id":"18a44f9b.da534","type":"link out","z":"3c43138f.ca8e7c","name":"","links":["471fdcd1.541634"],"x":1595,"y":540,"wires":[]},{"id":"471fdcd1.541634","type":"link in","z":"3c43138f.ca8e7c","name":"","links":["18a44f9b.da534"],"x":1395,"y":640,"wires":[["37f61ff0.ac494"]]},{"id":"2da5b84b.465c08","type":"ui_switch","z":"3c43138f.ca8e7c","name":"","label":"Available","tooltip":"","group":"5d64c4d4.199cec","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":1540,"wires":[["47528e5.1ea947"]]},{"id":"cf60146b.493db8","type":"ui_text","z":"3c43138f.ca8e7c","group":"5d64c4d4.199cec","order":2,"width":0,"height":0,"name":"","label":"Water Temperature:","format":"{{msg.payload.Water_Temperature}}°C","layout":"row-spread","x":290,"y":1600,"wires":[]},{"id":"8406a738.da3b48","type":"ui_text","z":"3c43138f.ca8e7c","group":"5d64c4d4.199cec","order":3,"width":0,"height":0,"name":"","label":"PH:","format":"{{msg.payload.PH}}","layout":"row-spread","x":250,"y":1640,"wires":[]},{"id":"72809c74.5994c4","type":"ui_text","z":"3c43138f.ca8e7c","group":"5d64c4d4.199cec","order":4,"width":0,"height":0,"name":"","label":"Water Level:","format":"{{msg.payload.Water_Level}} mm","layout":"row-spread","x":270,"y":1680,"wires":[]},{"id":"9f1b3cd3.9bde4","type":"ui_text","z":"3c43138f.ca8e7c","group":"5d64c4d4.199cec","order":5,"width":0,"height":0,"name":"","label":"EC:","format":"{{msg.payload.EC}}","layout":"row-spread","x":250,"y":1720,"wires":[]},{"id":"3ddbf10d.0356ae","type":"comment","z":"3c43138f.ca8e7c","name":"Light Modul","info":"","x":1510,"y":740,"wires":[]},{"id":"e4aaa2aa.0d4f6","type":"ui_switch","z":"3c43138f.ca8e7c","name":"","label":"Available","tooltip":"","group":"64cd1cb7.280ea4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1500,"y":780,"wires":[["1f7af02a.7e9ed"]]},{"id":"3a7f12a7.7e64fe","type":"ui_dropdown","z":"3c43138f.ca8e7c","name":"","label":"Mode","tooltip":"","place":"Select option","group":"64cd1cb7.280ea4","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Manual","value":"Manual","type":"str"},{"label":"Auto","value":"Auto","type":"str"}],"payload":"","topic":"","x":1490,"y":840,"wires":[["13d9e199.1ab8be","e144fe54.8bc41"]]},{"id":"a21868f9.f956b8","type":"ui_slider","z":"3c43138f.ca8e7c","name":"","label":"IR","tooltip":"","group":"64cd1cb7.280ea4","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Light_IR","min":0,"max":"100","step":"1","x":1670,"y":920,"wires":[["388c2bef.f5c0d4"]]},{"id":"7dd6afcb.e55c6","type":"subflow:3184091b.a33a26","z":"3c43138f.ca8e7c","x":1510,"y":960,"wires":[["a21868f9.f956b8","fd9d5175.19fc9","7aed69f8.03c9a8"]]},{"id":"13d9e199.1ab8be","type":"link out","z":"3c43138f.ca8e7c","name":"","links":["b1b541bf.c2bc9"],"x":1595,"y":820,"wires":[]},{"id":"b1b541bf.c2bc9","type":"link in","z":"3c43138f.ca8e7c","name":"","links":["13d9e199.1ab8be"],"x":1395,"y":960,"wires":[["7dd6afcb.e55c6"]]},{"id":"fd9d5175.19fc9","type":"ui_slider","z":"3c43138f.ca8e7c","name":"","label":"Normal","tooltip":"","group":"64cd1cb7.280ea4","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Light","min":0,"max":"100","step":"1","x":1680,"y":960,"wires":[["388c2bef.f5c0d4"]]},{"id":"7aed69f8.03c9a8","type":"ui_slider","z":"3c43138f.ca8e7c","name":"","label":"UV","tooltip":"","group":"64cd1cb7.280ea4","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Light_UV","min":0,"max":"100","step":"1","x":1670,"y":1000,"wires":[["388c2bef.f5c0d4"]]},{"id":"b6651898.23d0f8","type":"ui_text","z":"3c43138f.ca8e7c","group":"92cb97cd.01d618","order":1,"width":0,"height":0,"name":"","label":"ESP MAC:","format":"24:0A:C4:08:B3:C4","layout":"row-spread","x":230,"y":160,"wires":[]},{"id":"46cdd5f8.32fd2c","type":"inject","z":"3c43138f.ca8e7c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":40,"wires":[["75892c00.e28984"]]},{"id":"75892c00.e28984","type":"change","z":"3c43138f.ca8e7c","name":"","rules":[{"t":"set","p":"TestChamberMAC","pt":"global","to":"24:0A:C4:08:B3:C4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":40,"wires":[[]]},{"id":"6e37f245.da559c","type":"comment","z":"3c43138f.ca8e7c","name":"Pump Modul","info":"","x":1510,"y":1120,"wires":[]},{"id":"a90d02b1.10a33","type":"ui_switch","z":"3c43138f.ca8e7c","name":"","label":"Available","tooltip":"","group":"9f03e8c4.c777e8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1500,"y":1160,"wires":[["4f342b7f.301004"]]},{"id":"3f61fc12.d609b4","type":"ui_dropdown","z":"3c43138f.ca8e7c","name":"","label":"Mode","tooltip":"","place":"Select option","group":"9f03e8c4.c777e8","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Manual","value":"Manual","type":"str"},{"label":"Auto","value":"Auto","type":"str"}],"payload":"","topic":"","x":1490,"y":1220,"wires":[["32b5738d.e1d0dc","6d1d78c4.7b4cd8"]]},{"id":"32b5738d.e1d0dc","type":"link out","z":"3c43138f.ca8e7c","name":"","links":["fe9eef74.e3abd"],"x":1595,"y":1200,"wires":[]},{"id":"e8efcb96.d45ec8","type":"subflow:3184091b.a33a26","z":"3c43138f.ca8e7c","x":1510,"y":1300,"wires":[["12129fa6.127ff"]]},{"id":"fe9eef74.e3abd","type":"link in","z":"3c43138f.ca8e7c","name":"","links":["32b5738d.e1d0dc"],"x":1395,"y":1300,"wires":[["e8efcb96.d45ec8"]]},{"id":"12129fa6.127ff","type":"ui_switch","z":"3c43138f.ca8e7c","name":"","label":"Pump","tooltip":"","group":"9f03e8c4.c777e8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Pump","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1670,"y":1300,"wires":[["5bf8dc22.b63824"]]},{"id":"4f83ef2e.c828b","type":"comment","z":"3c43138f.ca8e7c","name":"Dozer Modul","info":"","x":1510,"y":1420,"wires":[]},{"id":"35097390.ab28fc","type":"ui_switch","z":"3c43138f.ca8e7c","name":"","label":"Available","tooltip":"","group":"2a2bcba2.183164","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1500,"y":1460,"wires":[["aa148135.4e5b3"]]},{"id":"3fedfa8b.8ec8c6","type":"ui_dropdown","z":"3c43138f.ca8e7c","name":"","label":"Mode","tooltip":"","place":"Select option","group":"2a2bcba2.183164","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Manual","value":"Manual","type":"str"},{"label":"Auto","value":"Auto","type":"str"}],"payload":"","topic":"","x":1490,"y":1520,"wires":[["a0db6f54.deeae","c895dcc2.9f488"]]},{"id":"a0db6f54.deeae","type":"link out","z":"3c43138f.ca8e7c","name":"","links":["8e06cfd2.45081"],"x":1595,"y":1500,"wires":[]},{"id":"c63414b2.3f6998","type":"subflow:3184091b.a33a26","z":"3c43138f.ca8e7c","x":1510,"y":1600,"wires":[["a1970552.4650b8"]]},{"id":"8e06cfd2.45081","type":"link in","z":"3c43138f.ca8e7c","name":"","links":["a0db6f54.deeae"],"x":1395,"y":1600,"wires":[["c63414b2.3f6998"]]},{"id":"a1970552.4650b8","type":"ui_button","z":"3c43138f.ca8e7c","name":"","group":"2a2bcba2.183164","order":3,"width":0,"height":0,"passthru":false,"label":"Feed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Feed","x":1650,"y":1600,"wires":[["61ecb14b.5cd97"]]},{"id":"5176b527.aa849c","type":"comment","z":"3c43138f.ca8e7c","name":"Feeding","info":"Adott mennyiségű tápanyagot adagol","x":880,"y":1480,"wires":[]},{"id":"a7bbe358.4335f","type":"ui_text","z":"3c43138f.ca8e7c","group":"2b48e66d.d544da","order":3,"width":0,"height":0,"name":"","label":"Plant Phase:","format":"Seed","layout":"row-spread","x":270,"y":740,"wires":[]},{"id":"99f911d9.c4724","type":"ui_text","z":"3c43138f.ca8e7c","group":"2b48e66d.d544da","order":4,"width":0,"height":0,"name":"","label":"Phase Start","format":"2020.02.23","layout":"row-spread","x":270,"y":780,"wires":[]},{"id":"e1e90b7c.783588","type":"ui_text","z":"3c43138f.ca8e7c","group":"2b48e66d.d544da","order":5,"width":0,"height":0,"name":"","label":"Phase End:","format":"2020.02.25","layout":"row-spread","x":270,"y":820,"wires":[]},{"id":"9aaf63fa.98706","type":"ui_button","z":"3c43138f.ca8e7c","name":"","group":"2b48e66d.d544da","order":7,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"fa-leaf","payload":"","payloadType":"str","topic":"","x":250,"y":880,"wires":[[]]},{"id":"19be942d.00c0ac","type":"ui_button","z":"3c43138f.ca8e7c","name":"","group":"2b48e66d.d544da","order":8,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"darkgreen","icon":"fa-hand-paper-o","payload":"","payloadType":"str","topic":"","x":250,"y":920,"wires":[[]]},{"id":"d50a56fa.a134e8","type":"link in","z":"3c43138f.ca8e7c","name":"","links":["b28e32f6.96aa6","40d7a341.40a87c"],"x":115,"y":1220,"wires":[["3f7b042e.12fa9c","f010e77.363b818","29a3a43.3a4745c","17e2e915.875fa7","b50c0cbe.eb4bd","b96c656a.3542b8"]]},{"id":"352a3005.b8306","type":"link in","z":"3c43138f.ca8e7c","name":"","links":["5dd1b940.ca1da8","86c84b71.3fd018"],"x":115,"y":1660,"wires":[["cf60146b.493db8","9f1b3cd3.9bde4","8406a738.da3b48","72809c74.5994c4"]]},{"id":"690e2de5.323294","type":"mqtt in","z":"3c43138f.ca8e7c","name":"","topic":"PF/Measurement","qos":"2","datatype":"auto","broker":"6599ec7a.af9974","x":120,"y":3700,"wires":[["3217c00a.5dfc7"]]},{"id":"3217c00a.5dfc7","type":"json","z":"3c43138f.ca8e7c","name":"","property":"payload","action":"","pretty":false,"x":280,"y":3700,"wires":[["fc2d094e.6d6538"]]},{"id":"fc2d094e.6d6538","type":"switch","z":"3c43138f.ca8e7c","name":"","property":"payload.ESP_MAC","propertyType":"msg","rules":[{"t":"eq","v":"TestChamberMAC","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":3700,"wires":[["407e151d.48f8dc"]]},{"id":"407e151d.48f8dc","type":"switch","z":"3c43138f.ca8e7c","name":"","property":"payload.Address","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":3700,"wires":[["9eeba845.d2e8a8"],["7e7cbb42.545624"]]},{"id":"9eeba845.d2e8a8","type":"change","z":"3c43138f.ca8e7c","name":"Air_Modul_Values","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Values","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":3680,"wires":[["40d7a341.40a87c"]]},{"id":"7e7cbb42.545624","type":"change","z":"3c43138f.ca8e7c","name":"Water_Modul_Values","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Values","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":3720,"wires":[["86c84b71.3fd018"]]},{"id":"40d7a341.40a87c","type":"link out","z":"3c43138f.ca8e7c","name":"","links":["d50a56fa.a134e8"],"x":855,"y":3680,"wires":[]},{"id":"86c84b71.3fd018","type":"link out","z":"3c43138f.ca8e7c","name":"","links":["352a3005.b8306"],"x":855,"y":3720,"wires":[]},{"id":"fb11e1f0.dd234","type":"comment","z":"3c43138f.ca8e7c","name":"MQTT msgs","info":"","x":110,"y":3640,"wires":[]},{"id":"2d77ef07.b094","type":"inject","z":"3c43138f.ca8e7c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":1360,"wires":[["983a1294.9f3e8"]]},{"id":"983a1294.9f3e8","type":"change","z":"3c43138f.ca8e7c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"TestChamberMAC","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1360,"wires":[["8a51187e.af2db8"]]},{"id":"8a51187e.af2db8","type":"debug","z":"3c43138f.ca8e7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":1380,"wires":[]},{"id":"dc5a7399.4ca24","type":"function","z":"3c43138f.ca8e7c","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"1\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1060,"wires":[["e9ab0ef7.4df47"]]},{"id":"e9ab0ef7.4df47","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":610,"y":1060,"wires":[]},{"id":"47528e5.1ea947","type":"function","z":"3c43138f.ca8e7c","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"2\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1540,"wires":[["77df7d7d.55dff4"]]},{"id":"77df7d7d.55dff4","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":610,"y":1540,"wires":[]},{"id":"c9f40774.f2e238","type":"function","z":"3c43138f.ca8e7c","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"3\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":140,"wires":[["e184dabf.7e7a48"]]},{"id":"e184dabf.7e7a48","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1850,"y":140,"wires":[]},{"id":"408074d2.a0f9bc","type":"function","z":"3c43138f.ca8e7c","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"4\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":500,"wires":[["4b358dd5.17b0c4"]]},{"id":"4b358dd5.17b0c4","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1850,"y":500,"wires":[]},{"id":"1f7af02a.7e9ed","type":"function","z":"3c43138f.ca8e7c","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"5\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":780,"wires":[["ef710176.8d3c5"]]},{"id":"ef710176.8d3c5","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1850,"y":780,"wires":[]},{"id":"4f342b7f.301004","type":"function","z":"3c43138f.ca8e7c","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"6\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":1160,"wires":[["7f5c85be.b4a27c"]]},{"id":"7f5c85be.b4a27c","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1850,"y":1160,"wires":[]},{"id":"aa148135.4e5b3","type":"function","z":"3c43138f.ca8e7c","name":"ESPModulEnable","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"7\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Enable\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/EnableModul\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":1460,"wires":[["67313765.8b8188"]]},{"id":"67313765.8b8188","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ModulEnable","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1850,"y":1460,"wires":[]},{"id":"f2ea8e31.87cf9","type":"inject","z":"3c43138f.ca8e7c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":60,"y":1100,"wires":[[]]},{"id":"91ce6a1a.32f618","type":"function","z":"3c43138f.ca8e7c","name":"ESPActuatorMode","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"3\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Mode\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Mode\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":220,"wires":[["591527e.2a46ed8"]]},{"id":"591527e.2a46ed8","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ActuatorMode","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1860,"y":220,"wires":[]},{"id":"2d068ba3.224664","type":"function","z":"3c43138f.ca8e7c","name":"ESPActuatorMode","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"4\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Mode\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Mode\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":580,"wires":[["899653dc.576c1"]]},{"id":"899653dc.576c1","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ActuatorMode","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1860,"y":580,"wires":[]},{"id":"e144fe54.8bc41","type":"function","z":"3c43138f.ca8e7c","name":"ESPActuatorMode","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"5\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Mode\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Mode\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":860,"wires":[["793dca31.deb294"]]},{"id":"793dca31.deb294","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ActuatorMode","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1860,"y":860,"wires":[]},{"id":"6d1d78c4.7b4cd8","type":"function","z":"3c43138f.ca8e7c","name":"ESPActuatorMode","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"6\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Mode\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Mode\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":1240,"wires":[["9c38880b.d7f6c8"]]},{"id":"9c38880b.d7f6c8","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ActuatorMode","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1860,"y":1240,"wires":[]},{"id":"c895dcc2.9f488","type":"function","z":"3c43138f.ca8e7c","name":"ESPActuatorMode","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"7\";\nmsg.payload[\"Subaddress\"]=\"1\";\nmsg.payload[\"Mode\"]=value;\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Mode\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":1540,"wires":[["25b24431.2b6a7c"]]},{"id":"25b24431.2b6a7c","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ActuatorMode","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1860,"y":1540,"wires":[]},{"id":"534bf819.a273b8","type":"function","z":"3c43138f.ca8e7c","name":"ESPActuatorValue","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"3\";\nmsg.payload[\"Subaddress\"]=\"1\";\n\n/*property={};\nproperty[\"Name\"]=msg.topic;\nproperty[\"Value\"]=value;\nmsg.payload[\"Property\"]=property;*/\n\nobj={}\nobj[msg.topic]=value\n\nmsg.payload[\"Value\"]=obj;\n\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Value\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1950,"y":300,"wires":[["835c8462.4f6988"]]},{"id":"835c8462.4f6988","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ActuatorValue","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":2140,"y":300,"wires":[]},{"id":"93a17dc2.90561","type":"function","z":"3c43138f.ca8e7c","name":"ESPActuatorValue","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"4\";\nmsg.payload[\"Subaddress\"]=\"1\";\n\n/*property={};\nproperty[\"Name\"]=msg.topic;\nproperty[\"Value\"]=value;\nmsg.payload[\"Property\"]=property;*/\nobj={}\nobj[msg.topic]=value\n\nmsg.payload[\"Value\"]=obj;\n\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Value\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":640,"wires":[["53abbe7e.77754"]]},{"id":"53abbe7e.77754","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ActuatorValue","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":2020,"y":640,"wires":[]},{"id":"388c2bef.f5c0d4","type":"function","z":"3c43138f.ca8e7c","name":"ESPActuatorValue","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"5\";\nmsg.payload[\"Subaddress\"]=\"1\";\n\n/*property={};\nproperty[\"Name\"]=msg.topic;\nproperty[\"Value\"]=value;\nmsg.payload[\"Property\"]=property;*/\nobj={}\nobj[msg.topic]=value\n\nmsg.payload[\"Value\"]=obj;\n\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Value\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":960,"wires":[["b736a826.5cd418"]]},{"id":"b736a826.5cd418","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ActuatorValue","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":2060,"y":960,"wires":[]},{"id":"5bf8dc22.b63824","type":"function","z":"3c43138f.ca8e7c","name":"ESPActuatorValue","func":"value=msg.payload;\nmsg.payload={};\nmsg.payload[\"Address\"]=\"6\";\nmsg.payload[\"Subaddress\"]=\"1\";\n\n/*property={};\nproperty[\"Name\"]=msg.topic;\nproperty[\"Value\"]=value;\nmsg.payload[\"Property\"]=property;*/\n\nobj={}\nobj[msg.topic]=value\n\nmsg.payload[\"Value\"]=obj;\n\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Value\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":1300,"wires":[["84d8e5c2.b165f8"]]},{"id":"84d8e5c2.b165f8","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ActuatorValue","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":2020,"y":1300,"wires":[]},{"id":"b5513c45.43f37","type":"mqtt out","z":"3c43138f.ca8e7c","name":"ActuatorAct","topic":"","qos":"","retain":"","broker":"6599ec7a.af9974","x":1990,"y":1600,"wires":[]},{"id":"61ecb14b.5cd97","type":"function","z":"3c43138f.ca8e7c","name":"ESPActuatorValue","func":"msg.payload={};\nmsg.payload[\"Address\"]=\"7\";\nmsg.payload[\"Subaddress\"]=\"1\";\n\n/*property={};\nproperty[\"Name\"]=msg.topic;\nproperty[\"Value\"]=value;\nmsg.payload[\"Property\"]=property;*/\n\nobj={}\nobj[msg.topic]=\"Act\"\n\nmsg.payload[\"Value\"]=obj;\n\n\nmsg.topic=\"PF/\"+global.get(\"TestChamberMAC\")+\"/Actuator/Value\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":1600,"wires":[["b5513c45.43f37"]]},{"id":"ae471835.ab332","type":"http in","z":"2051b7f8.8b11b8","name":"","url":"/registrtion","method":"post","upload":false,"swaggerDoc":"","x":260,"y":460,"wires":[[]]},{"id":"41ec1504.180d14","type":"switch","z":"2051b7f8.8b11b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":710,"y":140,"wires":[["fac183d.143358"],["5eb14e44.6176e8"]]},{"id":"fac183d.143358","type":"change","z":"2051b7f8.8b11b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"msg\":\"User not found\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":120,"wires":[["2f5ff5c8.0e7c82"]]},{"id":"93728e8f.455e6","type":"http response","z":"2051b7f8.8b11b8","name":"","statusCode":"200","headers":{},"x":1060,"y":160,"wires":[]},{"id":"5eb14e44.6176e8","type":"change","z":"2051b7f8.8b11b8","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":160,"wires":[["93728e8f.455e6"]]},{"id":"cbccb6d.87f7148","type":"mongodb in","z":"2051b7f8.8b11b8","mongodb":"c7516b32.dd40e8","name":"","collection":"users","operation":"find","x":530,"y":360,"wires":[["38c5eed5.198fc2"]]},{"id":"eb2fa882.3020e8","type":"inject","z":"2051b7f8.8b11b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":360,"wires":[["928c8b88.87dd78"]]},{"id":"928c8b88.87dd78","type":"change","z":"2051b7f8.8b11b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":360,"wires":[["cbccb6d.87f7148"]]},{"id":"38c5eed5.198fc2","type":"debug","z":"2051b7f8.8b11b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":360,"wires":[]}]